<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CS480 Demo</display-name>
    <servlet>
    <description></description>
    <display-name>Entity1ServletCreate</display-name>
    <servlet-name>Entity1ServletCreate</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletCreate</servlet-name>
    <url-pattern>/Entity1ServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Entity1ServletRead</display-name>
    <servlet-name>Entity1ServletRead</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletRead</servlet-name>
    <url-pattern>/Entity1ServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>Entity1ServletUpdate</display-name>
    <servlet-name>Entity1ServletUpdate</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletUpdate</servlet-name>
    <url-pattern>/Entity1ServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>Entity1ServletDelete</display-name>
    <servlet-name>Entity1ServletDelete</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletDelete</servlet-name>
    <url-pattern>/Entity1ServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <url-pattern>/UserServletLogin</url-pattern><servlet-name>UserServletLogin</servlet-name>
    
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>UserServletLogout</display-name>
    <servlet-name>UserServletLogout</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogout</servlet-name>
    <url-pattern>/UserServletLogout</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <description></description>
    <display-name>q1</display-name>
    <servlet-name>q1</servlet-name>
    
    <servlet-class>student.web.servlet.q1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>q1</servlet-name>
    <url-pattern>/q1</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<description>StudentServletCreate</description>
  	<servlet-name>StudentServletCreate</servlet-name>
  	<servlet-class>student.web.servlet.StudentServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentServletCreate</servlet-name>
  	<url-pattern>/StudentServletCreate</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description>StudentServletRead</description>
  	<servlet-name>StudentServletRead</servlet-name>
  	<servlet-class>student.web.servlet.StudentServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentServletRead</servlet-name>
  	<url-pattern>/StudentServletRead</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>StudentServletUpdate</servlet-name>
  	<servlet-class>student.web.servlet.StudentServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentServletUpdate</servlet-name>
  	<url-pattern>/StudentServletUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>StudentServletDelete</servlet-name>
  	<servlet-class>student.web.servlet.StudentServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentServletDelete</servlet-name>
  	<url-pattern>/StudentServletDelete</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>classServletCreate</servlet-name>
  	<servlet-class>Class.web.servlet.classServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>classServletCreate</servlet-name>
  	<url-pattern>/classServletCreate</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>classServletUpdate</servlet-name>
  	<servlet-class>Class.web.servlet.classServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>classServletUpdate</servlet-name>
  	<url-pattern>/classServletUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>classServletDelete</servlet-name>
  	<servlet-class>Class.web.servlet.classServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>classServletDelete</servlet-name>
  	<url-pattern>/classServletDelete</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>gradeServletAll</servlet-name>
  	<servlet-class>grade.web.servlet.gradeServletAll</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>gradeServletAll</servlet-name>
  	<url-pattern>/gradeServletAll</url-pattern>
  </servlet-mapping>

  
   <servlet>
  	<servlet-name>assignmentServletAll</servlet-name>
  	<servlet-class>assignment.web.servlet.assignmentServletAll</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>assignmentServletAll</servlet-name>
  	<url-pattern>/assignmentServletAll</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>instructorServletAll</servlet-name>
  	<servlet-class>instructor.web.servlet.instructorServletAll</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>instructorServletAll</servlet-name>
  	<url-pattern>/instructorServletAll</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>classServletAll</servlet-name>
  	<servlet-class>content.web.servlet.classServletAll</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>classServletAll</servlet-name>
  	<url-pattern>/classServletAll</url-pattern>
  </servlet-mapping>
</web-app>
